
body{ padding:0px; margin:0px; }
.a-panel{ z-index: 1; display: flex; flex-direction: column; background-color:#ccc; position:fixed; width:100%; height:100%; left:0px; top:0px; box-sizing:border-box;  }
.a-panel-upload{ background-color: #008ae6; display: flex; height:auto; box-sizing:border-box; justify-content: flex-end; }
.a-panel-upload-box{ box-sizing:border-box; padding: 20px; background-color: rgba(0,0,0, .5);  }
.a-panel-upload-input{ color: #fff; }
.a-panel-box{ box-sizing:border-box; height:100%; display:flex; flex-direction:column; }
.a-panel-view{ background-color: rgba(0,0,0, .9); height:100%; box-sizing:border-box; display:flex; justify-content:center; align-items:center; }
.a-panel-view-image{ width:640px; height:360px; background-color:#fff; box-sizing:border-box; }
.a-panel-frames{ background-color: rgba(0,0,0, .5); height: auto;  display: flex; flex-direction: row; align-items:center; padding: 20px; box-sizing:border-box; }
.a-panel-frames-item{  width:80px; height: 80px; border:1px solid #ccc; margin-left:6px; border-radius: 4px; cursor: pointer; box-sizing:border-box; }